.bgc {
  background-color: rgb(153,0,153);
}

.header{
    font-family: baskerville, serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
  }

@media only screen and (max-width: 768px){
  .header{
      font-family: baskerville, serif;
      font-style: italic;
      text-align: center;
      font-weight: bold;
      font-size: 1.75rem;
  }
}
